*{
  padding:0;margin:0;
  background-color: #2B3A55;
  color: white;
}


.result-box{
  padding:10px;
  height: fit-content;
}

.shortlinkbox{
  display:block;
  width:70%;
  min-height:4.5vh;
  border: 2px solid black;
  border-radius: 25px;
  background-color: #E8C4C4;
  color:black;

}

.form-control{
  background-color: #E8C4C4 !important;
}


.btn{
  background-color: transparent;
  color:white;
  
}

.copy-button{
  background-color: #CE7777;
}

.mynavbar{
  background-color: #CE7777;
}

#CopyButton{
  background-color: #2B3A55 !important;
  border:0px !important;

}
#CopyButtonText{
  background-color: transparent;
}

#shortURL{
  background-color: transparent;

}

.navbar{
width:100%;
background-color: #F2E5E5;
}

.heading{
  background-color: transparent;
  /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  color:black;
}

.footer{
  width:100%;
}

#selftag-footer{
  cursor:pointer !important; 
  text-align: center;
  color:#CE7777;
  text-decoration: none;
}

@media screen and (max-width: 800px) {
 .pview{
  display: flex !important;
  align-items:flex-start !important;
  justify-content: center !important;
 }
}


